/* Khmer */
@font-face {
    font-family: 'Noto Serif Khmer';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/Font/khmer.woff2') format('woff2');
    unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

/* Latin Extended */
@font-face {
    font-family: 'Noto Serif Khmer';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/Font/latinex.woff2') format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Latin */
@font-face {
    font-family: 'Noto Serif Khmer';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/Font/latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}







*{
  /* margin: 0; */
  box-sizing: border-box;
  font-family: 'Noto Serif Khmer', serif;
}

.scroll-container{
  scroll-behavior: smooth;
}

body{
  position: relative;
  min-width: 100vw; /* corrected */


}
.container-height{
  width: auto !important;
  overflow: hidden;
}
.table-data{
  height: 65vh ;
  min-width: 100%;
  overflow: auto !important;
}
.search-bar{
  width: 70wh;
  border-radius: 0 !important;
  position: sticky;
  top: 0;



}
/* Table list Select  */
.resultList{
  overflow: visible !important;
}
#resultList thead,#table_change_log thead ,#table_quick_data thead , #table_quick_data thead{
  position: sticky;
  top: 0px;
  z-index: 9;
}


.list_assets{
  overflow: visible !important;
}
#list_assets thead{
  position: sticky;
  top: 0px;
    z-index: 99;
}
#list_assets th:hover  ,#quick_tr_header:hover, #user_th{
  cursor: pointer;
}
.table_respond{
  width: 100%;
}

.title_base {
    font-size: 25px !important;
    margin-bottom: 15px;
    font-weight: bold !important;

  }
  .select-btn{

    padding: 8px 7px;
    background: rgb(143, 134, 134);
  }

  .list_user{
    widows: 100%;
    padding: 20px 40px !important;
  }
  .user_tab li:hover{
    cursor: pointer;
  }
  .active_tab{
    color: blue   !important;

  }
  .active_tab:hover{
    background: rgb(228, 228, 228);

  }
  .normal_tab:hover{
    background: rgb(228, 228, 228);
  }
  .label_user{

    padding: 10px 50px 5px 10px;

  }
 .toast_position{
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    animation: fade_out 20s forwards;
    display: none;
  }
#toast_green {
  position: absolute;

   display: none;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  animation: fadeOut2 4s forwards;
  z-index: 9999;
}
#toast_red{
  position: absolute;
 display: none;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  animation: fadeOut2 4s forwards;
  z-index: 9999;
}
#dropdownSearch::-webkit-scrollbar{
  display: none;
}

#search_bar{
  width: 100%;

  height: auto;
  position: sticky;
  left: 0;
}
.toast_delete{
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  display: none ;
}
#toast{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: fade_up 10s forwards;
  z-index: 9999;
}

.btn_float_right{
  position: fixed;
  right: 40px;
  bottom: 20px;

}
.btn_float_right button{
  padding: 10px 15px;
}
.image_box{
  position: relative;
}
#delete_image{
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 25px;
}
#download_image{
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 25px;
}
.image_box:hover  #delete_image{
  display: block;
}
.image_box:hover #download_image{
  display: block;
}
.Active{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}
.file_document i{
  font-size: 32px;
}
#container_file i{
  font-size: 32px;
}
.box_file button{
  display: none;
}
.box_file:hover button{
  display: block;
}
.tabs{
  top: 80px;
}
.active_tab{
  border-bottom: 3px solid rgb(0, 98, 255) !important;
  color: rgb(0, 98, 255) !important;
}
.percent30{
  width: 50% !important;
}
.percent3{
  width: 33% !important;
}
.percent70{
  width: 50% !important;

}
.table_select{
  display: none;
  position: fixed;
  left: 50%;
  top: 500px;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80vh;

  z-index: 9999;
  background-color: white;
  border:  1px solid black;
  padding:  5px;
  overflow: hidden;
}
.table_select span{
  font-size: 20px !important;
  font-weight: 400;


}
.select_id_assets{
  height: 100% ;
  min-width: 100%;
}

#table_selec_asset{
  border:  1px solid rgba(0, 0, 0, 0.486) !important;

}
.no_wrap{
  white-space: nowrap;
}
.inner-data{
  overflow: auto;

  width: 100%;
  height: 90%;

}


.align_right{
  padding: 5px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.align_right span{
  font-size: 25px;
  font-weight: 700;
}
#table_change_log th:hover{
  cursor: pointer;
}
#small-modal{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:9999;
}
#qr_code{
  width: auto ;
  height: auto;

}
#qr_code svg{
  position: relative;
}
#qr_code i{
  position: absolute;
  top: 0;
  right: 0;
}
.pagination_by_search{
  display: flex !important;
  white-space: wrap;
}
.pagination_by_search li:hover{
  cursor: pointer;
}
.aside{
  z-index: 9999 !important;
}
#logout{
  z-index: 10000;
}
#loading_style{
  width: 200px;
  height: 100px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  backdrop-filter: blur(10px);
  background-color: black;
  color: white;

}
#loading h1{
  margin: 0 10px;
}
#search_icon_mobile{
z-index: 99;

}
#search_icon_mobile:hover{
  cursor: pointer;

}
#show_list{
  display: none;
  width: 90%;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  font-weight: 800;
  top: 400px ;
  left: 50%;
  z-index: 99999999;
  transform: translate(-50%,-50%);
  overflow: auto;
}


#dep_user,#reference_update, #span_reference{
  display: none;
}
.last_td{
  background-color: white;
}
.last_th{
  z-index: 99 !important;
}

.table_float_left_th{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.table_float_left_td{
    position: sticky;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.zindex99{
    z-index: 99999 !important;
}
.update_btn{
    background-color: blue !important;
}
.delete_btn{
    background-color: rgb(255, 0, 0) !important;
}
.update_view{
    background-color: rgb(0, 87, 26) !important;
}
.btn_option{
    position: absolute;
    z-index:47;
    background-color: red;
}

.option{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}

#assets_body td:last-child {
    position: sticky;
    right: 0;
}
#assets_body td:last-child  ul {
    background-color: rgb(121, 121, 121);
    border: 1px solid rgba(0, 0, 0, 0.187) !important;
    color: white;
    position: absolute;
    bottom: 0%;
    left: -10%;
    z-index: 9999999999 !important;
}
#assets_body tr:first-child  ul ,#assets_body tr:nth-child(2)  ul {
    height: fit-content;
    position: absolute;
    color: white!important;
    top: 100%;
    left: -10%;
    z-index: 9999999999 !important;
    background-color: rgb(121, 121, 121);
    border: 1px solid rgba(0, 0, 0, 0.187) !important;
    color: rgb(0, 0, 0);
}

#movement_body td:last-child  ul {
    background-color: rgb(121, 121, 121);
    border: 1px solid rgba(0, 0, 0, 0.187) !important;
    color: white;
    position: absolute;
    bottom: 0%;
    left: -10%;
    z-index: 9999999999 !important;
}
#movement_body tr:first-child  ul ,#assets_body tr:nth-child(2)  ul {
    height: fit-content;
    position: absolute;
    color: white!important;
    top: 100%;
    left: -10%;
    z-index: 9999999999 !important;
    background-color: rgb(121, 121, 121);
    border: 1px solid rgba(0, 0, 0, 0.187) !important;
    color: rgb(0, 0, 0);
}

#user_tb td:last-child  ul {
    background-color: rgb(121, 121, 121);
    border: 1px solid rgba(0, 0, 0, 0.187) !important;
    color: white;
    position: absolute;
    bottom: 0%;
    left: -10%;
    z-index: 9999999999 !important;
}
#user_tb tr:first-child  ul ,#assets_body tr:nth-child(2)  ul {
    height: fit-content;
    position: absolute;
    color: white!important;
    top: 100%;
    left: -10%;
    z-index: 9999999999 !important;
    background-color: rgb(121, 121, 121);
    border: 1px solid rgba(0, 0, 0, 0.187) !important;
    color: rgb(0, 0, 0);
}
.option_dark{

    z-index: 99;
}
.cursor:hover{
    cursor: pointer;
}
  @keyframes fade_out{
    0%{
      display: block;
    }100%{
      display: none;
    }
  }
   @keyframes fade_up{
    0%{


        opacity: 1;
    }
    100%{
        opacity: 0;


    }



}
@keyframes fadeOut2 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes display_none{
    0%{


        display: block;
    }
    100%{
        display: none;


    }



}
@media  (max-width: 430px) {
    body {
        transform: scale(0.8);
        transform-origin: top left;
        width: 125%; /* Compensate for the scaling shrink */
    }
  .main_page{
    flex-direction: column;
    gap: 8px;
    justify-content: left;
    width: 100%;
  }
  .main_page .flex{
    width: 100%;
    justify-content: left;
  }
  .pagination_by_search{
    width: 100%;
    justify-content: left;
  }
  .pagination_by_search nav{
    width: 100%;
  }
  .fix_button{
    width: auto !important;
    position: fixed;
    justify-content: right;
    right: 20px;
    bottom: 20px;
  }

}
@media (min-width: 431px) and (max-width: 999px) {

  .table-data button{
    padding: 5px  10px!important;
  }

  .fix_button{
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  .last_td{
    background-color: black !important;
  }

  .table_select{
    display: none;
    position: fixed;
    left: 50%;
    top: 100px !important;
    transform: translate(-50%,-50%);
    width: 98% !important;
    height: 80vh;

    z-index: 9999;
    background-color: white;
    border:  1px solid black;
    padding:  5px;
    overflow: hidden;
  }
  .table_select span{
    font-size: 15px !important;
    font-weight: 400;


  }

}
@media (min-width: 1000px) and (max-width: 1400px) {
  .table-data{
    height: 50vh;

  }
  .table-data button{
    padding: 5px  10px!important;
  }
  .table_select{
    top: 300px;
    height: 90vh;
  }
  .fix_button{
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}
